jenkins:
  systemMessage: "Jenkins provisioned via JCasC"
  numExecutors: 2
  
  # Security Realm for user authentication
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: {{ jenkins_admin_user }}
          password: {{ jenkins_admin_password }}

        - id: "developer"
          password: {{ jenkins_developer_password }}
  
  # Authorization Strategy        
  authorizationStrategy:
    projectMatrix:
      entries:
        - user:
            name: admin
            permissions:
              - Overall/Administer
        - user:
            name: developer
            permissions:
              - Overall/Read
              - Job/Build

unclassified:
  location:
    adminAddress: "admin@k4scloud.com"
    url: "http://localhost:{{ jenkins_port }}"

  prometheusConfiguration:
    collectDiskUsage: true
    jobAttributeName: "job"
    useAuthenticatedEndpoint: false

tool:
  git:
    installations:
      - name: "Default"
        home: "/usr/bin/git"
